<top-bar title="About"></top-bar>

<div class="page-cont">

    <article>

        <p>This a weekend project I am building to test out making an Angular2 web app that can be used without internet access.</p>

        <p>Presently you can create and modify units and armies which are stored in the browsers IndexedDB. These user generated IndexedDB entries are still accessible without an internet connection. You can also setup a battle between two armies, deploy them and proceed to the battle arena. The latter two features are still very much in development.</p>

    </article>

</div>