.page-cont {
    display: flex;
}

.unit-list {
    padding-top: 10px;
}

.unit-list-cont-two {
    margin: 5px 15px 10px 5px;
}

.unit-list-cont-two input {
    margin-left: 4px;
    width: 135px;
}

.unit-list .unit-list-cont-two h5 {
    margin-left: 7px;
}

.page-cont form {
    margin-top: 5vh;
}