:host {
    height: 100vh;
    width: 100vw;
}

.nav-cont {
    display: flex;
    justify-content: center;
    height: 20vh;
    background-image: linear-gradient(to bottom, black, #353030)
}

.router-links {
    display: flex;    
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.router-links > a {
    margin-top: 7vh;
}

.menu-img {
    height: 80vh;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url('/assets/images/menu.jpg');
    background-size: contain;
    background-position: center;
}